*~

glang_demo_s.mpg

generated_html/
chapter_02/example_2-1
chapter_02/example_2-2
chapter_02/example_2-3
chapter_02/example_2-4
chapter_02/example_2-5
chapter_02/example_2-6
chapter_02/example_2-9
chapter_02/example_2-10

chapter_03/example_3-11
chapter_03/example_3-12
chapter_03/example_3-13
chapter_03/example_3-14
chapter_03/example_3-17
chapter_03/example_3-19
chapter_03/cfg.xml
chapter_03/example_3-20

chapter_04/example_4-0
chapter_04/example_4-1
chapter_04/example_4-2
chapter_04/example_4-3

programs/face_detection/face_detection
programs/face_detection/teapot_perspective
